{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin='anonymous'>

</head>
<bodyclass='coatainer'>
    <h1 class='display-4 text-primary'> {{ title }} </h1>
    <p> {{ message|safe }} </p>
    <ol class='list-group'>
    {% for item in form %}
    <li class='list-group-item py-2' >{{ item.name }} ({{item.value }}) : {{item.errors.as_text }} </li>
    {% endfor %}
    </ol>
    <form action=" {% url 'check' %} " method='post'>
        {% csrf_token %}
        <div class='form-group'>名前 {{ item.name }}</div>
        <div class='form-group'>メール {{ item.mail }}</div>
        <div class='form-group'>性別 {{ item.gender }}</div>
        <div class='form-group'>年齢 {{ item.age }}</div>
        <div class='form-group'>誕生日 {{ item.birthda}}</div>
        <div class='form-group'>
            <input type='submit' values='check' class='btn btn-primary'>
        </div>            
    </form>   
</body>
</html>